
.comment-form {
	width: 690px;
}

.submit {
	position: relative;
	top: 130px;
	left: 40px;
	width: 65px;	
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

.comment {
	list-style: none;
	position: relative;
	display: block;
}

.comment li {
	margin-bottom: 10px;
	display: block;
}

.comment li input {	
	position: absolute;
	left: 100px;
	width: 250px;
	height: 17px;
	font-family: "Times New Roman";
	font-size: 16px;	
}

.comment li input:focus {	
	box-shadow: inset 0 1px 4px rgba(0,0,0,.16);
	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,.16);
	-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,.16);
}
.comment li textarea {
	position: absolute;
	left: 100px;
	font-family: "Times New Roman";
	width: 400px;
	height: 150px;
	font-size: 16px;
}

.comment li textarea {
	box-shadow: inset 0 1px 4px rgba(0,0,0,.16);
	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,.16);
	-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,.16);
}
.errorlist {
	float: right;
	color: red;
	font-weight: bold;
}

hr {
	position: relative; 
	float: left; 
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #DA8D35;
	clear: both;
}

.msg {
	position: relative;
	left: 250px;
	color: #FFE4C4;
	padding: 2px 15px;
	background-color: #777;
	border-radius: 10px;	
}

.button-comment {
	position: relative;
	top: 15px;
	padding: 2px 15px;
	background-color: #D2B48C;
	border-radius: 5px;	
	cursor: default;
	font-weight:bold;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	border:1px solid rgba(0,0,0,0.4);
	-moz-border-radius: 5px;
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

.button-comment:hover {
	background-color: #FFD700;
}

blockquote {
	font-size: 13px;
	color: #777;
	margin-left: 2px;
	padding-left: 10px;
	border-left: 5px solid #DDD;
}

.form-row {
	overflow: hidden;
	padding: 8px 12px;
	font-size: 11px;
	border-bottom: 1px solid #ddd;
}

#comment-form {
	position: relative;
	height: 50px;
}