
.header {
	height: 80px;
	position: relative;
	background-color: #f5f5dc;
}

.filter {
	height: 40px;
	top: 5px;
	position: relative;
	background-color: #dcdcdc;
}
.map {	
	height: 600px;
	position: relative;
	background-color: #9acd32;
}
.footer {
	height: 50px;
	top: 5px;
	position: relative;
	background-color: #90c032;
}