body {
	font-family: Time New Roman;
}
.header {
	height: 80px;
	position: relative;
	font-family: arial, sans-serif;
	color: #ffffff;
	border: 2px solid purple;
	background-image: url("../images/header.png");
	border-radius: 10px;
	-moz-border-radius: 10px;
	/*behavior: url('/static/js/border-radius.htc');*/
}

.login a {
	position: relative;
	font-size: 14px;
	font-weight: bold;
	float: right;
	color: white;
	bottom: -10px;
	right: 15px;
}

.login a:HOVER {
	color: silver;
}

.filter {
	height: 40px;
	top: 10px;
	position: relative;
	border: 2px thin;
	border-radius: 10px;
	-moz-border-radius: 10px;
	background-color: rgba(120, 120, 120, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr='#e6e6e6', endColorstr='#CCCCCC' ); /* IE6 & IE7 */
	-ms-filter:	"progid:DXImageTransform.Microsoft.gradient(GradientType=0, 
		startColorstr='#e6e6e6', endColorstr='#CCCCCC')"; /* IE8 */
	zoom: 1;
}

.left {
	float: left;
	height: 32px;
	width: 49%;
	margin-left: 15px;
	margin-top: 4px;
	border-right: 2px solid gray;
}

.right {
	float: right;
	height: 32px;
	width: 47%;
	margin-left: 5px;
	margin-top: 4px;
}

.icon {
	margin-right: 10px;
}

.icon a img:hover {
	color: rgba(255, 255, 255, 0.7);
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
	cursor: pointer;
}

.footer {
	height: 50px;
	top: 10px;
	position: relative;
	background-color: #90c032;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	text-align: center;
	font: bold 11px arial;
	color: #7B7B7B;
}

.show {
	height: 620px;
	top: 10px;
	position: relative;
}

.map {
	top: -20px;
	height: 600px;
}

.box-search {
	top: 18px;
	position: relative;
	overflow: hidden;
	width: 332px;
	margin: auto;
	border: 2px thin;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	background-color: rgba(120, 120, 120, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr='#e6e6e6', endColorstr='#CCCCCC' ); /* IE6 & IE7 */
	-ms-filter:	"progid:DXImageTransform.Microsoft.gradient(GradientType=0, 
		startColorstr='#e6e6e6', endColorstr='#CCCCCC')"; /* IE8 */
	zoom: 1;
	/* for IE */
  	filter:alpha(opacity=80);
	z-index: 9;
}

.search-place {
	height: 30px;
	margin-left: 5px;
	margin-right: 10px;
	padding-top: 4px;
	float: right;
	display: block;
}

.icon-search {
	font-family: Time New Roman; padding-top : 5px;
	padding-left: 10px;
	width: 15px;
	float: left;
	text-align: center;
	padding-top: 5px;
}

.point {
	font-size: 8px;
	width: 15px;
	padding-top: 1px;
	cursor: pointer;
}

.point:hover {
	background-color: #00FFFF;
	font-weight: bold;
}

.path {
	font-size: 8px;
	padding-top: 3px;
	width: 15px;
	cursor: pointer;
}

.path:hover {
	background-color: #00FFFF;
	font-weight: bold;
}

.textbox {
	width: 210px;
}

.textbox:focus {
	-webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.7);
	-moz-box-shadow: 0 0 12px rgba(51, 204, 255, 0.7);
	-ms-box-shadow: 0 0 12px rgba(51, 204, 255, 0.7);
	box-shadow: 0 0 12px rgba(51, 204, 255, 0.7);
}

.search-path {
	height: 30px;
	margin-left: 5px;
	margin-right: 10px;
	padding-top: 4px;
	float: right;
	display: none;
}

.button {
	cursor: pointer;
	font-weight: bold;
	height: 25px;
	width: 65px;	
}

.swap {
	margin-right: 5px;
	cursor: pointer;
}

.localization {
	float: right;
	top: 5px;
	position: relative;
	margin-right: 5px;
}
.language {
	top: 0px;
	position: relative;
	float: left;
}

.district {
	top: 0px;
	position: relative;
	float: right;
}

.box {
	position: fixed;
	background-image: url("../images/nav_bg.gif");
	z-index: 99;
	bottom: 0px;
	width: 230px;
	height: 300px;
	overflow: auto;
	right: 0px;
	display: none;
	border-radius: 10px;
	-moz-border-radius: 10px;
	border: 4px thick;
}
.show-box {
	position: fixed;
	background-image: url("../images/nav_bg.gif");
	z-index: 999;
	cursor: pointer;
	bottom: 0px;
	width: 16px;
	height: 16px;
	right: 0px;
	z-index: 999;
}

.place_name {
	font-weight: bold;
	font-family:"Times New Roman",Georgia,Serif;
	font-size: 18px;
	color: #383838;
	margin-left: 10px;
}
.place_address {
	margin-left: 10px;
	font-style: oblique;
	
}

.place_details {
	margin-left: 10px;
}

.more {
	text-decoration: none; 
	float: right;
	color: #0000FF;
	cursor: pointer;
}
.more:hover {
	color: #008B8B;
	text-decoration: underline;
	text-shadow: gray;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #fefefe;
	padding: 3px;
	opacity: 0.85;
	border-radius: 10px;
	-moz-border-radius: 10px;
}
#tooltip h3, #tooltip div { margin: 0; }


#ja-mainnav {
    background: url("../images/menu-bg.jpg") repeat-x scroll 0 0 transparent;
    bottom: 0;
    clear: both;
    height: 40px;
    left: 0;
    width: 100%;
    z-index: 999;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

#ja-cssmenu {
    margin: 0;
    padding: 0 0 0 0;
    position: relative;
}

#ja-cssmenu li {
    background: url("../images/step.jpg") no-repeat scroll right center transparent;
    cursor: pointer;
    display: block;
    float: left;
    margin: 0;
    padding: 0 0 0 0;
}

ul {
    list-style: none outside none;
    margin: 0 0;
    padding: 0;
}

#ja-cssmenu li a.active, #ja-cssmenu li a.active:hover, #ja-cssmenu li a.active:active, #ja-cssmenu li a.active:focus {
    text-decoration: none;
}

#ja-cssmenu li a.active, #ja-cssmenu li a.active:hover, #ja-cssmenu li a.active:active, #ja-cssmenu li a.active:focus {
    background: url("../images/menu-act.jpg") repeat-x scroll 0 0 transparent;
    color: #000000;
}/*

#ja-cssmenu li a {
    color: #FFFFFF;
    display: block;
    font-size: 100%;
    font-weight: bold;
    line-height: 40px;
    margin: 0 2px;
    padding: 0 15px;
    text-decoration: none;
}


#ja-mainnav a, #ja-subnav a {
    line-height: normal;
    outline: medium none;
}*/

/*
#ja-mainnav {
	height: 40px;
	bottom: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	clear:both;
	background:url("../images/menu-bg.jpg") repeat-x scroll 0 0 transparent;
}

* html #ja-mainnav {
	bottom: -1px;
}

#ja-mainnav a, #ja-subnav a {
	outline: none;
	line-height: normal;
}

#ja-subnav {
	clear: both;
	background: url("../images/subnav-bg.gif") repeat-x bottom #D58400;
	margin: 0 10px;
	padding: 0 10px;
	height: 30px;
}

#ja-subnav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#ja-subnav li {
	background: none;
	margin: 0;
	padding: 0;
	display: inline;
}

#ja-subnav a {
	display: block;
	float: left;
	outline: none;
	padding: 0 15px;
	line-height: 30px;
	text-decoration: none;
	color: #FFFFFF;
}

#ja-subnav a:hover,
#ja-subnav a:active,
#ja-subnav a:focus {
	color: #FFFFFF;
	background: url("../images/subnav-hover.gif") no-repeat center bottom;
	text-decoration: none;
}

#ja-subnav li.active a {
	color: #FFFFFF !important;
	font-weight: bold;
	background: url("../images/subnav-hover.gif") no-repeat center bottom;
	text-decoration: none;
}*/

