body {
	font-family: Time New Roman;
}

.header {
	height: 25px;
	position: relative;
	font-family: arial, sans-serif;
	color: #ffffff;
}

.login a {
	position: relative;
	font-size: 14px;
	font-weight: bold;
	float: right;
	color: #3190D3;
	bottom: -10px;
	right: 15px;
}

.login a:HOVER {
	color: #ffaa00;
}

.filter {
	height: 40px;
	top: 10px;
	position: relative;
	border: 2px thin;
	border-radius: 10px;
	-moz-border-radius: 10px;
	background-color: rgba(120, 120, 120, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr='#e6e6e6', endColorstr='#CCCCCC' ); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr='#e6e6e6', endColorstr='#CCCCCC' )"; /* IE8 */
	zoom: 1;
}

.left {
	float: left;
	height: 32px;
	width: 48%;
	margin-left: 15px;
	margin-top: 4px;
	border-right: 2px solid gray;
}

.right {
	float: right;
	height: 32px;
	width: 48%;
	margin-left: 5px;
	margin-top: 4px;
}

.icon {
	margin-right: 10px;
}

.icon a img:hover {
	color: rgba(255, 255, 255, 0.7);
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
	cursor: pointer;
}

.footer {
	height: 50px;
	top: 10px;
	position: relative;
	background-color: #90c032;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	text-align: center;
	font: bold 11px arial;
	color: #7B7B7B;
}

.show {
	height: 620px;
	top: 5px;
	position: relative;
}

.map {
	top: -20px;
	height: 600px;
}

.box-search {
	top: 18px;
	position: relative;
	overflow: hidden;
	width: 332px;
	margin: auto;
	border: 2px thin;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	background-color: rgba(120, 120, 120, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr='#e6e6e6', endColorstr='#CCCCCC' ); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr='#e6e6e6', endColorstr='#CCCCCC' )"; /* IE8 */
	zoom: 1;
	/* for IE */
	filter: alpha(opacity = 80);
	z-index: 9;
}

.search-place {
	height: 30px;
	margin-left: 5px;
	margin-right: 10px;
	padding-top: 4px;
	float: right;
	display: block;
}

.icon-search {
	font-family: Time New Roman;
	padding-top: 5px;
	padding-left: 10px;
	width: 15px;
	float: left;
	text-align: center;
	padding-top: 5px;
}

.point {
	font-size: 8px;
	width: 15px;
	padding-top: 1px;
	cursor: pointer;
}

.point:hover {
	background-color: #00FFFF;
	font-weight: bold;
}

.path {
	font-size: 8px;
	padding-top: 3px;
	width: 15px;
	cursor: pointer;
}

.path:hover {
	background-color: #00FFFF;
	font-weight: bold;
}

.textbox {
	width: 210px;
}

.textbox:focus {
	-webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.7);
	-moz-box-shadow: 0 0 12px rgba(51, 204, 255, 0.7);
	-ms-box-shadow: 0 0 12px rgba(51, 204, 255, 0.7);
	box-shadow: 0 0 12px rgba(51, 204, 255, 0.7);
}

.search-path {
	height: 30px;
	margin-left: 5px;
	margin-right: 10px;
	padding-top: 4px;
	float: right;
	display: none;
}

.button {
	cursor: pointer;
	font-weight: bold;
	height: 25px;
	width: 65px;
}

.swap {
	margin-right: 5px;
	cursor: pointer;
}

.localization {
	float: right;
	top: 5px;
	position: relative;
	margin-right: 5px;
}

.language {
	top: 0px;
	position: relative;
	float: left;
}

.district {
	top: 0px;
	position: relative;
	float: right;
}

.box {
	position: fixed;
	background-image: url("../images/nav_bg.gif");
	z-index: 99;
	bottom: 0px;
	width: 230px;
	height: 300px;
	overflow: auto;
	right: 0px;
	display: none;
	border-radius: 10px;
	-moz-border-radius: 10px;
	border: 4px thick;
}

.show-box {
	position: fixed;
	background-image: url("../images/nav_bg.gif");
	z-index: 999;
	cursor: pointer;
	bottom: 0px;
	width: 16px;
	height: 16px;
	right: 0px;
	z-index: 999;
}

.place_name {
	font-weight: bold;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 18px;
	color: #383838;
	margin-left: 10px;
}

.place_address {
	margin-left: 10px;
	font-style: oblique;
}

.place_details {
	margin-left: 10px;
}

.more {
	text-decoration: none;
	float: right;
	color: #0000FF;
	cursor: pointer;
}

.more:hover {
	color: #008B8B;
	text-decoration: underline;
	text-shadow: gray;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #fefefe;
	padding: 3px;
	opacity: 0.85;
	border-radius: 10px;
	-moz-border-radius: 10px;
}

#tooltip h3,#tooltip div {
	margin: 0;
}

/* Menu */
#ja-mainnav {
	height: 40px;
	bottom: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	clear: both;
	background: url("../images/menu-bg.jpg") repeat-x scroll 0 0 transparent;
}

#ja-cssmenu {
	margin: 0;
	padding: 0 0 0 0px;
	position: relative;
}

#ja-cssmenu li {
	float: left;
	display: block;
	padding: 0 0px 0 0;
	margin: 0;
	background: url("../images/step.jpg") no-repeat right;
	cursor: pointer;
}

#ja-cssmenu li a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: white;
	margin: 0px 2px 0px 2px;
	padding: 0 8px;
	line-height: 40px;
	font-size: 100%;
	margin: 0px 2px 0px 2px;
}

#ja-cssmenu li:hover a,#ja-cssmenu li.havechild.active a {
	color: black;
	background: url("../images/menu-act.jpg") repeat-x;
}
/* Menu */
#ja-footer {
	clear: both;
	position: relative;
	padding: 0;
	height: 100px;
	color: #72B1E4;
	text-align: center;
	line-height: 1.5;
	font-weight: bold;
	background: #056EB0;
	font-size: 100%;
}

#ja-footer a {
	color: #FFFFFF;
	font-weight: bold;
}

#ja-footer small {
	font-size: 100%;
}

.bottom-menu {
	background: #056eb0;
	border-bottom: 1px solid #aaddfc;
	height: 35px;
}

.bottom-menu ul {
	list-style: none outside none;
}

.bottom-menu ul li {
	background: none repeat scroll 0 0 transparent;
	border-bottom: medium none;
	border-right: 0px solid #D99051;
	display: inline;
	margin: 0;
	padding: 0;
	padding-top: 0px;
	font-size: 13px;
	float: left;
}

.bottom-menu ul li a {
	color: #FFFFFF;
	background: url("../images/bottom-menu-li.jpg") no-repeat right;;
}

.bottom-menu ul li a:hover,.bottom-menu ul li a:active,.bottom-menu ul li a:focus
	{
	background: url("../images/bottom-menu-li.jpg") no-repeat right;
}
/* New add */
ul.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}

ul.menu li {
	display: block;
	margin: 0;
	line-height: normal;
	padding-left: 5px !important;
}

ul.menu li a {
	display: block;
	outline: none;
	padding: 8px 8px;
	padding-top: 8px;
	margin: 0;
	text-decoration: none;
	padding-left: 14px;
	padding-right: 14px;
	font-size: 12px;
	font-weight: bold;
}

ul.menu li a:hover,ul.menu li a:active,ul.menu li a:focus {
	color: #105474;
	text-decoration: underline;
}

ul.menu li.active a {
	font-weight: bold;
	color: #105474;
}

#search-results {
	position: relative;
	top: 15px;
	width: 200px;
	height: 600px;
	float: left;
	background-color: #E9ECF0;
	overflow: auto;
}

#left_side_toggle {
	position: absolute;
	left: 200px;
	top: 40%;
	width: 12px;
	z-index: 3;
	height: 30px;
	border: 1px solid #aaa;
	cursor: pointer;
	background: #F8FAFC;
	overflow: hidden;
	border-radius: 3px;
}

#left_side_toggle:hover {
	background: rgb(255, 245, 185);
}

#left_side_toggle i {
	display: block;
	background: url("../images/indicator.png") 0 0 no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: 200px;
	margin-left: -8px;
	width: 16px;
	height: 16px;
}

.map {
	overflow: auto;
}

ul li a {
	cursor: pointer;
    color: #3190D3;
    text-decoration: none;
}
ul li a:hover {
	color: #ffaa00;
    text-decoration: none;
}

#inner-search {
	margin-left: -35px;
}