<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="Tìm kiếm đường đi cho người khuyết tật" />
<meta name="keywords" content="map,tìm đường đi,người khuyết tật,hổ trợ người khuyết tật,tim duong di, nguoi khuyet tat,ho tro nguoi khuyet tat" />	

<title>Bản đồ tiếp cận cho người khuyết tật</title>

<link href="{{ STATIC_URL }}favicon.ico" rel="shortcut icon"/>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dd.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>


<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/style.css" />
<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/dd.css" />

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.autocomplete.css">

{% block extra_static %}{% endblock %}
</head>
<body>

	{% block header %}{% endblock %}
	
	<div class="filter">
		<div id="left_slider" class="left">
			<div id="left_prev">
			</div>
			<div id="left">
			</div>
			<div id="left_next">
			</div>
			<input type="hidden" value="" name="kind_person" id="kind_person">
		</div>
		<div id="right_slider" class="right">
			{% for obj in kind_construction %}
			<span class="icon">
				<a onclick="kind_construction_filter('{{ obj.id }}')"><img id="c{{ obj.id }}" title="{{ obj.name }}" height="32" alt="{{ obj.name }}" src="{{ STATIC_URL }}{{ obj.image }}"></a>
			</span>
			{% endfor %}
			<input type="hidden" value="" name="kind_construction" id="kind_construction">
		</div>
	</div>
	{% block map %} {% endblock %}
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost +
		 			   "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
    <script type="text/javascript">
    	var pageTracker = _gat._getTracker("UA-1959803-2");
    	pageTracker._initData();
    	pageTracker._trackPageview();
    </script>
	<div class="footer">
		Designed by SPS Group
	</div>
</body>
</html>
