<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Map Application</title>
<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/style.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
{% block extra_static %}{% endblock %}
</head>
<body>
	<div class="header">
		sdsd sd s ds d sd
	</div>	 
	<div class="filter">
		icon1 icon2 icon3
	</div>	
	{% block map %} {% endblock %}
	<div class="footer">
		Copyright by SPS
	</div>
</body>
</html>