<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="Tìm kiếm đường đi cho người khuyết tật" />
<meta name="keywords" content="Ban do tiep can,Bản đồ tiếp cận,map,tìm đường đi,người khuyết tật,hổ trợ người khuyết tật,tim duong di, nguoi khuyet tat,ho tro nguoi khuyet tat" />	
{% load i18n %}
{% load tagslib %}
<title>{% block title %}{% trans 'Accessible Map' %}{% endblock %}</title>

<link href="{{ STATIC_URL }}favicon.ico" rel="shortcut icon"/>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>


{% block extra_static %}{% endblock %}
</head>
<body>
	<div class="header">
		{% get_current_language as LANGUAGE_CODE %}
		{% get_available_languages as LANGUAGES %}
		<div class='localization'>
			<select id='lang' name="lang" class="language" onchange="changedLanguage(this.value)">
				{% for code, name in LANGUAGES %}
					{% if code == LANGUAGE_CODE %}
					<option title="{{STATIC_URL}}images/flags/{{ code }}.png" value="{{ code }}" selected="selected">{{ name|strip }}</option>
					{% else %}
					<option title="{{STATIC_URL}}images/flags/{{ code }}.png" value="{{ code }}">{{ name|strip }}</option>
					{% endif %}
				{% endfor %}
			</select>
			<select id='district' class="district">
				<option value="">{% trans 'All Districts' %}</option>
				{% for dis in districts %}
					{% if "Quan 1" != dis.unsigned_name %}
						<option value="{{ dis.id }}"> {{ dis.name }} </option>
					{% else %}
						<option value="{{ dis.id }}" selected> {{ dis.name }} </option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
		<div class="login">
			<a href="/admin/">Account</a>
		</div>
	</div>
	
	{% block content %} {% endblock %}
	<script type="text/javascript">
		
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-33293005-1']);
		_gaq.push(['_trackPageview']);
	
	  (function() {
	       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
    </script>
</body>
</html>
