{% load i18n %}
{% load tagslib %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% trans 'Information of' %} {{ con.name }}</title>
<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/info.css" />
</head>
<body>
<div class="font-resizer">
	<ul>
		<li><img onclick="changeFontSize(1); return false;" id="font-large" alt="{% trans 'Zoom in' %}" title="{% trans 'Zoom in' %}" src="{{ STATIC_URL }}images/font_large.jpg"></li>	
		<li><img onclick="changeFontSize(-1); return false;" id="font-small" alt="{% trans 'Zoom out' %}" title="{% trans 'Zoom out' %}" src="{{ STATIC_URL }}images/font_small.jpg"></li>
		<li><img onclick="revertStyles(); return false;" id="font-default" alt="{% trans 'Default' %}" title="{% trans 'Default' %}" src="{{ STATIC_URL }}images/font_default.jpg"></li>
	</ul>
</div>
<div id="content" class='content'>
	<div>
		<h2>{{ con.name }}</h2>
		<p><i>{{ con.get_address }}</i></p>
		{% autoescape off %}{{ con.description_detail|linebreaksbr|urlize }}{% endautoescape %}
	</div>
	<div>
		{% autoescape off %}{{ con.description_other|linebreaksbr|urlize }}{% endautoescape %}
	</div>
</div>
<div class="form-row"></div>
<div id='comment-form'>
	<span class='button-comment' id='insert-form' onclick="show()">{% trans 'Comment' %}</span>
	{% if msg %}
	<span id='msg' class="msg">{% trans msg %}</span>
	<script type="text/javascript">
	function remove() {
		var msg = document.getElementById("msg");		
		var p = document.getElementById("comment-form");
		p.removeChild(msg);
	}
	setTimeout(remove,2000);
	</script>	
	{% endif %}
	<form id='comment' class='comment-form' action="" method="post">{% csrf_token %}
		<div class='comment-form'>
			<ul class="comment">
				{{ form.as_ul }}
			</ul>
			<input class="submit" type="submit" name="submit" value="{% trans 'Send' %}">
		</div>	
	</form>	
	{% if form.errors %}
	<script type="text/javascript">
	var form = document.getElementById("comment");
	var base = document.getElementById("comment-form");
	form.style.visibility = 'visible';
	base.style.height = '270px';
	var insert = document.getElementById("insert-form");
	insert.style.visibility = 'hidden';
	</script>
	{% else %}
	<script type="text/javascript">
	var form = document.getElementById("comment");
	var base = document.getElementById("comment-form");
	form.style.visibility = 'hidden';
	base.style.height = '50px';
	</script>
	{% endif %}
</div>
<div id='comments'>
	
	{% for comment in comments %}
		{% autoescape off %}<blockquote>{{ comment.content|linebreaksbr|urlize }} <br><br>{% trans 'Posted by' %} <b>{{ comment.email|nickname }}</b> {% trans 'at' %} {{ comment.comment_date }}</blockquote>{% endautoescape %}
		<div class="form-row"></div>
	{% endfor %}
	
</div>
<script type="text/javascript" src="{{ STATIC_URL }}js/details.js"></script>
</body>
</html>

   