{% extends "base.html" %}

{% load tagslib %}

{% block extra_static %}
<!--[if IE]><link rel="stylesheet" href="ie.css" type="text/css" media="screen, projection" />
<![endif]-->
{% endblock %}

{% block map %}
<div class="show">
	<div class="box">
		<div class="icon-search">
			<div class="point" title="Tìm kiếm địa điểm A"><a>A</a></div>
			<div class="path" title="Tìm kiếm đường đi từ A đến B"><a>A-B</a></div>
		</div>
		<div class="search-place">
			<input autofocus="autofocus" id="p" class="textbox" type="text" name="search" placeholder="Nhập địa điểm...">
			<input type="submit" name="Search" value="Search" class="button">		
		</div>
		<div class="search-path">			
			<input id="a" class="textbox" type="text" name="from_place" placeholder="Địa điểm đi">
			<img title="Tìm đường theo hướng ngược lại" class="swap" src="{{ STATIC_URL }}images/swap.png"><input id="b" class="textbox" type="text" name="to_place" placeholder="Địa điểm đến">
			<input type="submit" name="Search" value="Search" class="button">		
		</div>
	</div>	
	<div class="map" id="my_map">
	</div>
</div>	
{% endblock %}