{% extends "base.html" %}

{% load i18n %}

{% load tagslib %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

{% block extra_static %}
<script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false&language={{ LANGUAGE_CODE }}&region=vn">
</script>
<!--[if IE]><link rel="stylesheet" href="ie.css" type="text/css" media="screen, projection" />
<![endif]-->
{% endblock %}

{% block header %}
	<div class="header">
		Bản đồ tiếp cận cho người khuyết tật
		{% get_current_language as LANGUAGE_CODE %}
		{% get_available_languages as LANGUAGES %}
		<div class='localization'>
			<select id='lang' name="lang" class="language" onchange="changedLanguage(this.value)">
				{% for code, name in LANGUAGES %}
					{% if code == LANGUAGE_CODE %}
					<option title="{{STATIC_URL}}images/flags/{{ code }}.png" value="{{ code }}" selected="selected">{{ name|strip }}</option>
					{% else %}
					<option title="{{STATIC_URL}}images/flags/{{ code }}.png" value="{{ code }}">{{ name|strip }}</option>
					{% endif %}
				{% endfor %}
			</select>
			<select id='district' class="district">
				<option value="">{% trans 'All Districts' %}</option>
				{% for dis in districts %}
					{% if "Quan 1" != dis.unsigned_name %}
						<option value="{{ dis.id }}"> {{ dis.name }} </option>
					{% else %}
						<option value="{{ dis.id }}" selected> {{ dis.name }} </option>
					{% endif %}
				{% endfor %}
			</select>

		</div>
	</div>
{% endblock %}

{% block map %}
<div class="show">
	<div class="box-search">
		<div class="icon-search">
			<div class="point" title="{% trans 'Find position A on map' %}"><a>A</a></div>
			<div class="path" title="{% trans 'Find direction from A to B' %}"><a>A-B</a></div>
		</div>
		<div class="search-place">
			<form action="" method="get">
				<input id="p" class="textbox" type="text" name="search" placeholder="{% trans 'Type address here...' %}">
				<input type="button" id="search_place" name="Search" value="{% trans 'Search' %}" class="button">		
			</form>
		</div>
		<div class="search-path">
			<form action="">
				<input id="a" class="textbox" type="text" name="from_place" placeholder="{% trans 'Start address...' %}">
				<img title="{% trans 'Get reverse directions' %}" class="swap" src="{{ STATIC_URL }}images/swap.png">
				<input id="b" class="textbox" type="text" name="to_place" placeholder="{% trans 'End address...' %}">
				<input type="button" id="search_path" name="Search" value="{% trans 'Search' %}" class="button">
			</form>					
		</div>
		<span id='load' style="z-index: 1000; position: fixed; top: 195px;"><img src="{{ STATIC_URL }}images/loading.gif"><label style="margin: 5px 5px; font-weight: bold; color: red;">{% trans 'Loading...' %}</label></span>
	</div>		
	<div class="map" id="my_map"></div>
	<div id="box" class="box">
		<img alt="" style="cursor: pointer;" id="hidden-popup" title="{% trans 'Hidden this box' %}" src="{{ STATIC_URL }}images/hide.png"><br>
		<div id="content">
		</div>
	</div>
	<div class="show-box" id="show-box">
		<img id="show-popup" alt="" src="{{ STATIC_URL }}images/show.png" title="{% trans 'Show details' %}"><br>
	</div>
</div>	
<!-- <input id="location" type="hidden" value="{{ location }}"/> 
<input id="id_location" type="hidden" value="{{ id_location }}"/> 
-->
{% endblock %}
